<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a
    class="navbar-brand text-info"
    
    >Receipe Book</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/recipes']"
          routerLinkActive="text-primary"
          [routerLinkActiveOptions] ="{exact:true}"
          *ngIf="isAuthenticated"
          >Receipes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/shopping-list']"
          routerLinkActive="text-primary"
          >Shopping List</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth']"
          routerLinkActive="text-primary"
          *ngIf="!isAuthenticated"
          >Authentication</a
        >
      </li>
      <li class="nav-item"  (click)="onLogout()" *ngIf="isAuthenticated">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
    <!-- Example single danger button -->
    <div class="btn-group  dropleft">
      <button
        type="button"
        class="btn text-white dropdown-toggle"
        data-toggle="dropdown"
      >
        Action
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
        <a class="dropdown-item"  (click)="onFetchData()" >Fetch Data</a>
        <!-- <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a> -->
      </div>
    </div>
  </div>
</nav>
