<!-- (click)="onSelected()" -->
<a  class="list-group-item clearfix"
[routerLink]="[index]" routerLinkActive="bg-secondary" [routerLinkActiveOptions]="{exact:true}"

>
  <div class="float-left">
    <h5 class="list-group-item-heading text-danger">{{ recipe.name }}</h5>
    <p class="list-group-item-text text-secondary">{{ recipe.description }}</p>
  </div>
  <span class="float-right">
    <img
      src="{{ recipe.imgPath }}"
      alt="No Image"
      class="img-responsive"
      style="max-height: 50px;"
    />
  </span>
</a>
