<div class="col-xs-12">
  <img
    src="{{ recipe.imgPath }} "
    alt="{{ recipe.name }} "
    class="img-responsive"
    style="max-height: 300px;"
  />
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.name }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 dropdown">
    <div class="btn-group">
      <button
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >
        Manage Recipe
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li class="dropdown-item">
          <a (click)="AddToShoppingList()"> To Shopping List</a>
        </li>
        <li class="dropdown-item"><a href="#"> Edit Recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Decsription
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients:
    <ul class="list-group">
      <li *ngFor="let ing of recipe.ingredeients" class="list-group-item">
        {{ ing.name }} -- {{ ing.amount }}
      </li>
    </ul>
  </div>
</div>
